* {
    padding: 0%;
    margin: 0%;
}
/* main colours used */
:root {
    --green: #59981A;
    --yellow-green: #ECF87F;
    --lime-green: #81B622;
    --olive-green: #3D550C;
    --mustard: #DBA40E;
    --bluegreen: #107869;
}
/* the background has a leaf pattern (background image) */
body {
    width: 100%;
    background-color: #353634;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2381b622' fill-opacity='0.65' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}
/* fixed header w/ nav, brought to front with z-index */
.header {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:  var(--olive-green);
    padding: 40px;
    position: fixed;
    white-space: nowrap;
    z-index: 2;
}

.header h1 {
    font-size: 200%;
    margin-right: 400px;
    color:#DBA40E;
}
/* header nav items side by side inline */ 
.navflex {
    display: inline-flex;
    height: 30px;
    align-items: center;
    list-style-type: none;
    border-radius: 15px 15px;
    padding-left: 80px;
    background-color: var(--green);
}

.navflex a {
    margin-left: 100px;
    text-decoration: none;
    color: var(--yellow-green);
    background-color: var(--green);
    margin: 10px 10px;
    font-size: 22px;
}
/*  media querys to allow multi-device veiwing */
@media screen and (max-width: 576px) {
        .header {
            flex-direction: column;
            justify-content: center; 
            align-items: center;         
        }
}

@media screen and (max-width: 576px) {
        h1 { 
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1vw;
        }
}

@media screen and (max-width: 576px) {
        .navflex {
            padding-left: 5px ;
        }
}
/* keeping everything centered */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* organized inline with about me heading & verticle dividing line */
.about-me {
    display: inline-flex;
    margin-top: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-me p {
    background-color: var(--olive-green);
    border-radius: 25px;
    min-height: 200px;
    color: var(--yellow-green);
}

main figure {
    display: flex;
    padding: 20px;
    justify-content: center;
}
/* main picture with rounded edges */
main img {
    display: block;
    max-width: 5030px;
    max-height: 422px;
    width: auto;
    height: auto;
    border-radius: 50px;
}

h2 {
    color: var(--mustard);
    background-color: var(--green);
    padding: 27px;
    margin: 0px 50px;
    border-radius: 0px 75px 0px 75px;
    height: 75px;
    width: 127px;
}
/* verticle line to space and divide */
.vertLineAbout{
    display: inline-block;
    border-left: 5px solid #ECF87F;
    margin: 0 20px;
    height: 200px;
    border-radius: 15px;
}
/* a listing of all work centered & justifed to middle */
.Work {
    display: inline-flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* links to all the work */
.Work nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h3 {
    color: var(--mustard);
    background-color: var(--green);
    padding: 27px;
    margin: 0px 50px;
    border-radius: 0px 75px 0px 75px;
    height: 75px;
    width: 127px;
}
/* verticle line to divide */
.vertLineWork{
    display: inline-block;
    border-left: 5px solid #ECF87F;
    margin: 0 20px;
    height: 200px;
    border-radius: 15px;
}
/* larger project with text over top */
.proj1 {
    position: relative;
    text-align: center;
    margin-top: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* project 1 image */
.proj1 img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 20px;
}

.proj2 {
    position: relative;
    display: inline-block;
}
.ElTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    z-index: 1;
}

.proj1 a {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
  }
  
  .proj1 a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .proj1 a:hover::before {
    bottom: 0;
    height: 100%;
  }
  

/* media querys for accessible veiwing */
@media screen and (max-width: 576px) {
    .Work nav{
        flex-direction: column;
        justify-content: center; 
        align-items: center;  
    }
}
/* links to pages for contact */
.Contact-me {
    display: inline-flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h4 {
    color: var(--mustard);
    background-color: var(--green);
    padding: 27px;
    margin: 0px 50px;
    border-radius: 0px 75px 0px 75px;
    height: 75px;
    width: 127px;
    margin-bottom: 300px;
}

.contact {
    display: flex;
    height: 30px;
    align-items: center;
    text-decoration: none;
    border-radius: 15px 15px;
    padding: 40px;
    background-color: var(--green);
    margin-bottom: 300px;
}